---
import { ViewTransitions } from "astro:transitions";
import "../styles.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Projects</title>
		<link rel="stylesheet" href="/styles.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
			rel="stylesheet"
		/>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
