---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout>
	<main class="h-screen w-screen overflow-y-auto overflow-x-hidden">
		<Background />
		<HeroSection />
	</main>
</Layout>
